@import url(code.css);

#content.ticket {
    width: 60em;
    max-width: 100%;
}

#newticket #field-description { width: 100% }
#newticket #properties { width: 100% }

#propertyform,
#attachments,
#changelog,
#ticket {
    background: #fff;
    border-radius: 0.35em;
    padding: .5em 1em;
    border: 1px solid #d0d0d0;
    border-bottom: 2px solid #83a501;
    margin-bottom: 1.5em;
    -moz-box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.15);
}

#propertyform {
    margin-top: 3em;
}

div#ticket.ticketdraft {
 background: #f4f4f4 url(../draft.png);
}
div#ticketchange.ticketdraft {
 padding: 0 1em;
 margin: 1em 0;
}
div#ticketchange.ticketdraft h3 {
 margin-top: .5em;
}
.preview-notice { font-weight: bold; }

.ticketdraft {
 background: #f4f4f4 url(../draft.png);
 border: 1px outset #996;
 padding: 0 .2em;
}

h1 .status { color: #444; }
#ticket .date {
    color: #996;
    float: right;
    font-size: 85%;
    margin: 1em 0;
    text-align: right;
}
#ticket .date p { margin: .3em }

#ticket table.properties {
    clear: both;
    border: 1px solid #bbb;
    border-radius: 0.35em;
    table-layout: fixed;
    width: 100%;
    background: #eee;
}
#ticket table.properties td, #ticket table.properties th {
 font-size: 0.875em;
 padding: .5em 1em;
 vertical-align: top;
 font-size: 1em;
 padding: .35em .5em;
}
#ticket table.properties th {
    color: #83a501;
    text-align: left;
    text-align: right;
    width: 20%;
}
#ticket table.properties td { width: 30% }
#ticket table.properties td p:first-child { margin-top: 0 }
#ticket table.properties td p:last-child { margin-bottom: 0 }
#ticket table.properties .description { border-top: 1px solid #dd9 }

#ticket .description h3 .lastmod {
 font-size: 90%;
}
#changelog .inlinebuttons,
#ticket .inlinebuttons { 
    float: right;
    position: relative;
    top: 0.75em;
}


#changelog {
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0.35em 0 0;
    border: none;
}
#changelog > .change {
    padding: 2em 1em;
    border: 1px solid;
    border-color: #ddd #aaa #aaa #ddd;
    border-radius: 0.35em;
    margin-top: 1em;
    position: relative;
    background: #fff;
}
#changelog > .change:nth-child(2n) {
    background: #e7e7e7;
}

#preview { border: 1px solid #d7d7d7; padding: 1em }
#preview h3, #changelog h3 {
    font-size: 100%;
    padding: 0;
}
.threading { float: right; font-size: 90%; }

#preview .changes, #changelog .changes { margin-left: 2em; padding: 0 }
#preview .comment, #changelog .comment { margin-left: 2em }

form .field { margin-top: .75em; width: 100% }
form .field fieldset.iefix { margin-left: 1px; margin-right: 1px }
form .field #comment { margin-left: -1px; margin-right: -1px; padding: 0; width: 100% }
form .field .wikitoolbar { margin-left: -1px }

#properties { white-space: nowrap; line-height: 160%; padding: .5em }
#properties table { border-spacing: 0; width: 100%; }
#properties table th {
 padding: .4em;
 text-align: right;
 width: 20%;
 vertical-align: top;
}
#properties table td { vertical-align: middle; width: 30% }
#properties table td.fullrow { vertical-align: middle; width: 80% }

#properties table tr:nth-child(2n) {
    background-color: #e6e6e6;
}

#action { line-height: 2em }

fieldset.radio { border: none; margin: 0; padding: 0 }
fieldset.radio legend {
 color: #000;
 float: left;
 font-size: 100%;
 font-weight: normal;
 padding: 0 1em 0 0;
}
fieldset.radio label { padding-right: 1em }

.ticket .trac-id {
    vertical-align: middle;
}

.ticket .statuses {
    float: right;
}

.ticket .statuses .status,
.ticket .statuses .type,
.ticket .statuses .resolution {
    text-transform: uppercase;
    color: #fff;
    padding: 0.35em 0.5em;
    font-size: 0.6875em;
    vertical-align: middle;
    border-bottom: 2px solid #444;
    border-radius: 0.35em;
    margin: 0 0.25em 0 0;
}

.ticket .statuses .status {
    background: #c27e7e;
}

.ticket .statuses .type {
    background: #a2b16c;
}

.ticket .statuses .resolution {
    background: #7e9ac2;
}

.comment-number {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0 0 0 0.25em;
    font-size: 4.25em;
    color: #ced7ae;
    color: #ddd;
}

#changelog > .change:hover .comment-number {
    color: #ced7ae;
    display: block;
}
