[submodule "services/diffresource"]
	path = services/diffresource
	url = https://github.com/twisted-infra/diffresource
[submodule "services/kenaan"]
	path = services/kenaan
	url = https://github.com/twisted-infra/kenaan
[submodule "services/mailman"]
	path = services/mailman
	url = https://github.com/twisted-infra/mailman-config
[submodule "services/codespeed"]
	path = services/codespeed
	url = https://github.com/twisted-infra/codespeed
[submodule "services/amptrac"]
	path = services/amptrac
	url = https://github.com/twisted-infra/amptrac-config
