testSystem = 'test-system.example.net'

ENVIRONMENT = {
    'hosts': [testSystem],
    'roledefs': {
            'nameserver': [testSystem],
    },
    'user': '<system user>',
    'installTestData': True,
}
