# Hostname of the IRC server to which we will connect
IRC_SERVER = 'irc.freenode.net'
IRC_PORT = 6667

# Nickname to use on that IRC server
BOT_NICK = 'kenaan-staging'

# Password for this nickname
BOT_PASS = ''
