X11Forwarding yes

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

UsePAM yes

Match Group service
AuthorizedKeysFile /root/.ssh/authorized_keys .ssh/authorized_keys
