# Sample private configuration data.
# The buildmaster config master.cfg expects to find this on
# PYTHONPATH, and adds '/srv/bb-master/BuildBot/support-master'
# to the path for that reason

# Replace the list of slaves and generated passwords
# with the appropriate dictionary of real passwords and
# email address of contact persons.

# This is the list of currently configured slaves
slaves = [
    'vagrant-testing',

    'egh-osx-1',

    "bot-glyph-1",
    "bot-glyph-6",
    "tavendo-freebsd-10.1-amd64",

    "fedora-fedora22-1",
    "fedora-fedora22-2",
    "fedora-fedora23-1",
    "fedora-fedora23-2",
    "fedora-rhel7-1",
    "fedora-rhel7-2",

    "osuosl-osx10.6",

    "rax-ubuntu1204-1",
    "rax-ubuntu1204-2",
    "rax-ubuntu1604-1",
    "rax-ubuntu1604-2",
    "rax-ubuntu1604-3",
    "rax-debian8-1",
    "rax-debian8-2",

    "github",
]

# Give each slave a default password.
# Dictionary of tuples of password and list of emails
# to notify when slave goes down.
bot_info = {}
# Generate slaves with default password and no notification for checkconfig
for slave in slaves:
    bot_info[slave]=('passwd',[])

# Password for irc bot
# Doesn't connect to irc if not present
#irc_password=""

# Port, user and password for a SSH manhole
# Doesn't create a manhole if not present
#manhole = (0, "username", "bac54fcc_310815ca")

# Password for pb debug port
debugPassword = "cd3dad27_0f84b396"

codecov_twisted_token = 'invalid'


#
# For testing, get a Personal Access Token
# https://github.com/settings/tokens
#
#
# For production get a OAuth Token.
# GitHub OAuth Application for Builbot Status is here:
# https://github.com/organizations/twisted/settings/applications/373261
#
# If you disable the 2-way-auth you can get a OAuth token for this application
# by using this command:
#
# curl -u YOUR_USERNAME -d '{
#     "scopes": ["repo:status"],
#     "client_id": "YOUR-CLIEN"
#     "client_secret": "SOME-SECRET"
#    }' https://api.github.com/authorizations
github_status_token = 'invalid-secret'

# web status options
# - default for testing deployments: port 8080 on localhost
# - deployed version uses distrib_port at ~/webstatus.twistd-web-pb
webOptions = { 'http_port': 'tcp:port=8080' }
