# Sample private configuration data.
# The buildmaster config master.cfg expects to find this on
# PYTHONPATH, and adds '/srv/bb-master/BuildBot/support-master'
# to the path for that reason

# Replace the list of slaves and generated passwords
# with the appropriate dictionary of real passwords and
# email address of contact persons.

# This is the list of currently configured slaves
slaves = [
    'bot-bigdogcloud2',
    'bot-centos5.7',
    'bot-centos6',
    'bot-exarkun-1',
    'bot-flumotion-1',
    'bot-flumotion-2',
    'bot-glyph-1',
    'bot-glyph-6',
    'bot-idnar-debian',
    'bot-idnar-debian64',
    'bot-therve-1',
    'bot-thread',
    'bot-tobias-1',
    'canonical-ubuntu-12.10',
    'canonical-ubuntu-13.04',
    'hybridlogic-freebsd-9.1-amd64',
    'jv-solaris11-x86',
    'snakebite-osx10.8',
    'osuosl-osx10.6',
    'snakebite-win2008r2-64',
    'tavendo-freebsd-9.1-amd64',
    'tomprince-socrates-winxp-1',
    ]

fedora17_slaves = ['fedora-fedora17-x86_64-%d' % (i,) for i in range(1,3)]
fedora18_slaves = ['fedora-fedora18-x86_64-%d' % (i,) for i in range(1,3)]
fedora19_slaves = ['fedora-fedora19-x86_64-%d' % (i,) for i in range(1,3)]
rhel6_slaves = ['fedora-rhel6-x86_64-%d' % (i,) for i in range(1,3)]

debian6_slaves = ['rackspace-debian6-%d' % (i,) for i in range(1,3)]
debian7_slaves = ['rackspace-debian7-%d' % (i,) for i in range(1,3)]
ubuntu12_04_slaves = ['rackspace-ubuntu-12.04-%d' % (i,) for i in range(1,3)]
ubuntu12_10_slaves = ['rackspace-ubuntu-12.10-%d' % (i,) for i in range(1,3)]
ubuntu13_04_slaves = ['rackspace-ubuntu-13.04-%d' % (i,) for i in range(1,3)]

slaves += fedora17_slaves + fedora18_slaves + fedora19_slaves + rhel6_slaves
slaves += debian6_slaves + debian7_slaves + ubuntu12_04_slaves + ubuntu12_10_slaves + ubuntu13_04_slaves

# Give each slave a default password, 
# Dictionary of tuples of password and list of emails
# to notify when slave goes down.
bot_info = {}
# Generate slaves with default password and no notification for checkconfig
for slave in slaves:
	bot_info[slave]=('passwd',[])

# Password for irc bot
# Doesn't connect to irc if not present
#irc_password=""

# Port, user and password for a SSH manhole
# Doesn't create a manhole if not present
#manhole = (0, "username", "bac54fcc_310815ca")

# Password for pb debug port
debugPassword = "cd3dad27_0f84b396"

# web status options
# - default for testing deployments: port 8080 on localhost
# - deployed version uses distrib_port at ~/webstatus.twistd-web-pb
webOptions = { 'http_port': 'tcp:port=8080' }
