# Sample private configuration data.
# The buildmaster config master.cfg expects to find this on
# PYTHONPATH, and adds '/srv/bb-master/BuildBot/support-master'
# to the path for that reason

# Replace the list of slaves and generated passwords
# with the appropriate dictionary of real passwords and
# email address of contact persons.

# This is the list of currently configured slaves
slaves = [
    'bot-glyph-1',
    'bot-glyph-6',

    'egh-osx-1',

    'hawkowl-debian7-py34',

    'tavendo-freebsd-10.1-amd64',

    'tomprince-socrates-winxp-1',

    'rax-ubuntu1504-1',
    'rax-ubuntu1504-2',
    'rax-ubuntu1504-3',

    'rax-debian8-1',
    'rax-debian8-2',

    'fedora-fedora21-1',
    'fedora-fedora21-2',

    'fedora-fedora22-1',
    'fedora-fedora22-2',

    'fedora-rhel7-1',
    'fedora-rhel7-2',
    ]

slaves += ['rackspace-ubuntu-12.04-%d' % (i,) for i in range(1,3)]

# Give each slave a default password.
# Dictionary of tuples of password and list of emails
# to notify when slave goes down.
bot_info = {}
# Generate slaves with default password and no notification for checkconfig
for slave in slaves:
	bot_info[slave]=('passwd',[])

# Password for irc bot
# Doesn't connect to irc if not present
#irc_password=""

# Port, user and password for a SSH manhole
# Doesn't create a manhole if not present
#manhole = (0, "username", "bac54fcc_310815ca")

# Password for pb debug port
debugPassword = "cd3dad27_0f84b396"

# web status options
# - default for testing deployments: port 8080 on localhost
# - deployed version uses distrib_port at ~/webstatus.twistd-web-pb
webOptions = { 'http_port': 'tcp:port=8080' }
